/* Estilização básica para todas as páginas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: #333;
}

/* Estilo para o menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Estilo para o conteúdo principal */
main {
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    
}

p{
    color: #ffffff;
    text-align: center;
}

/* Estilo para o formulário de contato */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: rgb(194, 175, 175);
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para mudar a cor do link */
a{
    color: yellow;
}